*{
  margin: 0px;
  padding: 10px;
}

@font-face {
    font-family: 'darker_grotesquesemibold';
    src: url('darkergrotesque-semibold-webfont.woff2') format('woff2'),
         url('darkergrotesque-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header{
  color: white;
  background-color: #086788;
  text-align: center;
  font-family: 'darker_grotesquesemibold', Georgia, 'Times New Roman', Times, serif;
  font-weight: strong;
  font-size: 18px;
}


main {
  color: white;
  background-color: #06AED5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#086788;
  height: 0px;
}

article {
text-align: center;
margin-left: 80px;
margin-right: 80px;
}


footer {
color: black;
background-color: #F0C808;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}

.italicize {
  font-style: italic;
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

ul li{
  list-style-position: inside
}
ol li {
  list-style-position: inside
}

a {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

a:link {
  color: #06AED5
}

a:visited {
color: #4969E1
}

a:hover {
color: orangered
}
a:active{
color: pink
}
